@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Manrope:wght@400;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

.serif {
  font-family: 'Lora', serif;
}

.sans {
  font-family: 'Manrope', sans-serif;
}
